{% extends 'base.html' %}

{% block content%}

<h1>About</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste harum laudantium atque, totam fugit quo, id enim nesciunt nihil labore ipsam ipsum! Id incidunt, voluptatem sapiente nesciunt quas dolor consectetur ex, labore aliquid officia quam repellat unde possimus rerum esse voluptatum animi omnis explicabo facere. Similique doloremque sed quibusdam modi sint unde commodi cupiditate? Minima quod asperiores sequi odit sed molestias mollitia sit perspiciatis ex? Ad temporibus aut accusamus, dolorem amet aperiam? Non laboriosam, autem a necessitatibus rem voluptatibus inventore nam eaque voluptatem, sunt alias? Quidem enim, neque asperiores libero cumque reiciendis eos in necessitatibus quae est iure accusamus dignissimos.</p>

{% endblock %}